@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขนมออนไลน์ที่ใหญ่ที่สุดในหมู่บ้านเเมวสุดอร่อย</p>
    <img src="/images/whiskas.jpg" width="50%" />
</div>